@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body{
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  max-width: 1200px;
}
p, h1, h2, h3, a, ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:rgb(213, 93, 93);
}

/* nav & footer styles */
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
}
nav h1{
  font-size: 3em;
}
nav p, nav a{
  color: #777;
  font-weight: 300;
}

.create_task{
  display : flex;
  justify-content: center;
}
.create_task form{
  max-width: 500px;
  margin: 0 auto;
}

.create_task input,
.create_task textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.details{
  position: relative;
}
.delete{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
}
.delete:hover{
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.create_blog label{
  display: block;
  margin-top: 24px;
}
.create_task button {
  background-color: crimson;
  margin: 20px;
  padding: 10px;
  width: 100%;
  color: white;
  border-radius: 10px;
  border-color: white;
  border-style: none;
}
.create_task button:hover{
  background-color: rgb(226, 94, 121);
}

h3{
  margin-top: 10px;
  margin-bottom: 5px;
}

.single{
  display: block;
  border-left: solid 10px crimson;
  margin: 18px;
  padding-left: 10px;
  position: relative;
  padding-bottom: 10px;
  position: relative;
}
.task-options{
  position: absolute;
  top: 0;
  right: 10px;
}

.review{
  margin-top: 5px;
  margin-bottom: 5px;
}